body{
	margin-top: 60px;
	font-size: 12px;
}


#newForm{
	list-style: none;
	padding: 20px;
}

#newForm li{
	padding: 5px;
}
#newForm li:hover{
	box-shadow: 0px 0px 7px -3px #333;
}


.panel-collapse {

	border-top: 1px dashed #ccc;
}


{
	border-bottom: transparent;
	border-top: transparent;
	padding-top: 2px;
	padding-bottom: 2px;
}

#newForm .ui-draggable:hover{
	/*border-top: 1px dashed #ccc;*/
}

/*to hilight the dropable target*/
.new_Form_home_hilight{
	background: #efefef;
}

/*to align the editing atributs of form group*/
.form-group-edit{
position: absolute;
margin-top: 0;
right: 0;
height: 34px;
background: rgba(75, 75, 75, 0.24);
line-height: 36px;
cursor: pointer;
}

