body{
	margin-top: 60px;
	font-size: 12px;
}


#newForm{
	list-style: none;
	padding: 20px;
	min-height: 200px;
}

#newForm:hover li{
	box-shadow: 0px 0px 4px -2px #6D6D6D;
}

#newForm li{
padding: 5px;
margin-bottom: 2px;

}
#newForm li:hover{
	box-shadow: 0px 0px 3px -1px #7E7E7E;
}


#newForm .form_group_ui {
margin-bottom: 0px;
padding-bottom: 15px;
}


.editing_panal {

	border-top: 1px dashed #ccc;
	padding-top: 5px;
}

.editing_panal .form-control,.editing_panal .form-control-wraps{
	display: inline-block;
	width: 47%;
	margin: 0 1.5% ;
	padding: 0 2px;
	height: 24px;
	border-radius: 0;
	margin-bottom: 5px;
}

.editing_panal textarea.form-control{
	height: 80px;
}

.editing_panal .form-control:focus,
.editing_panal .form-control:active{
	outline: none;
	border: 1px #ccc solid;
	box-shadow: none;
}

.form-control.form_label,
.form-control.form_label:focus,
.form-control.form_label:active{
	border-top: 2px solid #E9E004;
}

.form-control.form_placeholder,
.form-control.form_placeholder:focus,
.form-control.form_placeholder:active{
	border-top: 2px solid #5BB7F5;
}

.form-control.form_feld_name,
.form-control.form_feld_name:focus,
.form-control.form_feld_name:active {
border-top: 2px solid #CE04E9;
}

.form-control.form_feld_id,
.form-control.form_feld_id:focus,
.form-control.form_feld_id:active {
border-top: 2px solid #B7DD55;
}

.form-control.help_text,
.form-control.help_text:focus,
.form-control.help_text:active {
border-top: 2px solid #81C9D3;
}

.form-control.form_radio,
.form-control.form_radio:focus,
.form-control.form_radio:active,
.form-control.form_checkbox,
.form-control.form_checkbox:focus,
.form-control.form_checkbox:active,
.form-control.form_select,
.form-control.form_select:focus,
.form-control.form_select:active{
border-top: 2px solid #F5B15B;
}

.editing_panal .form-control .form_label{

}



{
	border-bottom: transparent;
	border-top: transparent;
	padding-top: 2px;
	padding-bottom: 2px;
}


#newForm .panel{
	margin-bottom: 5px;
	border-radius: 4px;
	-webkit-box-shadow: 0 0 0 #fff;
	box-shadow: 0 0 0 #fff;
	border: 1px solid #fff;
}


.ui-layout-pane-center-hover #newForm .panel{
	border: 1px solid #efefef;
}

#newForm .ui-draggable:hover{
	/*border-top: 1px dashed #ccc;*/
}

/*to hilight the dropable target*/
.new_Form_home_hilight{
	background: #efefef;
}

/*to align the editing atributs of form group*/
.form-group-edit{
position: absolute;
margin-top: 0;
right: 0;
height: 34px;
background: rgba(75, 75, 75, 0.24);
line-height: 36px;
cursor: pointer;
}


.form-control.radio_btn_discrip,
.form-control.radio_btn_discrip:focus,
.form-control.radio_btn_discrip:active{
	outline: none;
	border: 1px #ccc solid;
	box-shadow: none;
	padding: 2px;
	font-size: 11px;
	height: 24px;

}

#form_delete_element{
	/*background: red;*/
	position: fixed;
	height: 60px;
	width: 100%;
	content: " ";
	bottom: 0;
	list-style: none;
	z-index: -1;
}

#form_delete_element h2{
	line-height: 18px;
	color: #FFF;
}

/*hilight when dreged to delete*/
.form_delete_element_hilight{
	background: rgba(255, 0, 0, 0.17);
	z-index: 2;
}

li.panel.panel-default.ui-draggable{
	list-style: none;
}


.tab-pane {
margin-top: -1px;
}

.modal-dialog {
width: 80%;}



.ui-layout-north .ui-layout-pane{
padding: 0;
}

.ui-layout-resizer{
background: #efefef;
}
.ui-layout-toggler{
background: #ccc;

}

.ui-layout-pane-east{
	padding: 0 10px 
}


